
/* Background colour */
body {
    background-color: #9fdcb5;
}



/* Sides of website */

/* leftSide: Search button, recommendation results */
/* rightSide: Top artists/genres */
#leftSide { 
    float: left;
}

#rightSide {
    display: none;
    float: right;
}



/* Elements hidden by default (revealed after valid playlist is given): */

/* search: Search result for obscure song */
/* hideButton: Button to toggle right side visibility */

#search {
    display: none;
}

#hideButton {
    display: none;
}






